<mat-drawer-container class="example-container">
    <mat-drawer class="drawer" mode="side" opened>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center p-3">
                    <h2 class="fw-bold">Admin Panel</h2>
                </div>
                <div class="col-12">
                    <ul>
                        <li [class.active]="isLinkActive('/admin/dashboard')" routerLink="/admin/dashboard"><button class="btn">Dashboard</button></li>
                        <li [class.active]="isLinkActive('/admin/user')" routerLink="/admin/user"><button class="btn ">Employee</button></li>
                        <li [class.active]="isLinkActive('/admin/tasks')" routerLink="/admin/tasks"><button class="btn ">Tasks</button></li>
                        <li [class.active]="isLinkActive('/admin/manage')" routerLink="/admin/manage"><button class="btn ">Manage</button></li>
                    </ul>
                </div>
                <footer class="footer">
                    <div class="col-12 text-center">
                        <button class="btn logoutbtn">Logout</button>
                    </div>
                </footer>
            </div>
        </div>
    </mat-drawer>
    <!-- <mat-drawer-content>Main content</mat-drawer-content> -->
  </mat-drawer-container>