.example-container {
    // width: 100%;
    // background-size: cover;
    min-height:550px;
    // background-color: rgb(62, 9, 9);
    // border: 1px solid #555;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .drawer{
    // background-color: aquamarine;
    width: 100%;
  }
  ul li{
    list-style-type: none;
    padding: 5px;
    color: black;
    
  }
  .btn{
    font-weight: bold;
  }
  .footer{
    bottom: 0 !important;
    position: absolute;
  }
  .logoutbtn{
    background-color: rgb(237, 237, 237);
    margin: 20px;
  }

  li.active {
    background-color: #cecece;
    border-radius: 5px;
  }