<div class="text-end p-4">
    <button mat-button (click)="onNoClick()"><mat-icon>close</mat-icon></button>
</div>
<form [formGroup]="addtaskfrm" (ngSubmit)="addtask()" class="form" >
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Your Task</mat-label>
            <input matInput formControlName="yourtask">
        </mat-form-field>
    </div>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Status</mat-label>
            <input matInput formControlName="status">
        </mat-form-field>
    </div>
    <div mat-dialog-actions  style="padding-left: 55px;">
        <button type="submit" class="btn btn-success" cdkFocusInitial>Add Task</button>
    </div>
</form>
